<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Hacktech</title>
<link href="static/style.css" rel="stylesheet" />
<link href="static/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="static/js/build.js"></script>
</head>
<body id="root">
	<center>
		<h3>What do you want to search for (food, hotels, and more)?</h3>
		<input name="query" id="queryId" class="custInp" type="text">
		<h3>Where do you want to find them?</h3>
		<input name="near" id="nearId" class="custInp" type="text">
		<br/>
		<button id="submitButton">Search</button>
		<script>
		$("#submitButton").click(function() {
			fullScreen();	
		});
		</script>
		<div id="map3d" style="height: 600px; border:1px solid grey; width: 1000px;"></div>
	</center>
</body>
</html>